.more-info-btn {
  cursor: "pointer";
  border-radius: 50%;
  width: 60px;
  background-color: #d1c9b8;
  display: inline-block;
}

.more-info {
  margin-top: 2vh;
}

.episode-info {
  margin-top: 1vh;
}